@{
    Layout = null;
}
<!doctype html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@(ViewBag.PageTitle == null ? "پنل مدیریت" : ViewBag.PageTitle)</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/bordash/assets/media/image/favicon.png" />

    <link rel="stylesheet" type="text/css" href="/assets/css/ToggleSwitch.css">

    <style>
        #myTable {
            margin: auto;
        }

        .swal-footer {
            text-align: center !important;
        }

        #notifCount {
            position: absolute;
            left: 5%;
            bottom: 16%;
            cursor: pointer;
        }

        #loadingDiv {
            width: 10000px;
            height: 1500px;
            background: rgba(0,0,0,0.6);
            /* opacity: 0.4;*/
            z-index: 1100;
            position: absolute;
            top: 0;
            left: 0;
            padding-left: 50%;
            padding-top: 50%;
        }

        #imgLoading {
            position: fixed;
            max-height: 23%;
            max-width: 19%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%)
        }

        #dashboardTab, #reportTab {
            font-size: 248%;
            color: white;
        }

        .pwt-btn-calendar {
            display: none !important;
        }
    </style>
    @RenderSection("vendorstyles", false)
    <link rel="stylesheet" href="/bordash/vendors/bundle.css" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/persian-datepicker@latest/dist/css/persian-datepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="/app-assets/css-rtl/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css-rtl/pages/data-list-view.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css-rtl/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css-rtl/pages/data-list-view.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/app-assets/css-rtl/core/colors/palette-gradient.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" integrity="sha512-f8gN/IhfI+0E9Fc/LKtjVq4ywfhYAVeMGKsECzDUHcFJ5teVwvKTqizm+5a84FINhfrgdvjX8hEJbem2io1iTA==" crossorigin="anonymous" />

    @RenderSection("styles", false)
    <link rel="stylesheet" href="/bordash/assets/css/app.min.css" type="text/css">
</head>
<body>
    <div class="preloader">
        <div class="preloader-icon"></div>
    </div>
    <div class="header">
        <div>
            <ul class="navbar-nav">
            </ul>
        </div>
        <div>
            <ul class="navbar-nav">

                <li class="nav-item">

                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link" title="تمام صفحه" data-toggle="fullscreen">
                        <i class="maximize" data-feather="maximize"></i>
                        <i class="minimize" data-feather="minimize"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item header-toggler">
                    <a href="#" class="nav-link">
                        <i data-feather="arrow-down"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main">
        <div class="navigation">
            <div class="navigation-menu-tab">
                <div>
                    <div class="navigation-menu-tab-header" data-toggle="tooltip" title="@User.Identity.Name" data-placement="right">
                        <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false">
                            <figure class="avatar avatar-sm">
                                <img src="/bordash/assets/media/image/avatar.png" class="rounded-circle" alt="avatar">
                            </figure>
                        </a>
                        <div class="dropdown-menu dropdown-menu-left dropdown-menu-big">
                            <div class="p-3 text-center" data-backround-image="/bordash/assets/media/image/image1.jpg">
                                <figure class="avatar mb-3">
                                    <img src="/bordash/assets/media/image/avatar.png" class="rounded-circle" alt="image">
                                </figure>
                                <h6 class="d-flex align-items-center justify-content-center">
                                    @User.Identity.Name

                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="navigation-menu-tab-header">
                        <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false">
                            <figure class="avatar avatar-sm">
                                <i class="fa fa-home" id="dashboardTab" aria-hidden="true"></i>

                            </figure>
                        </a>
                    </div>
                    <div class="navigation-menu-tab-header ">
                        <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false">
                            <figure class="avatar avatar-sm">
                                <i id="reportTab" class="fa fa-file-text" aria-hidden="true"></i>

                            </figure>
                        </a>
                    </div>
                </div>
                <div class="flex-grow-1">
                    <ul>
                        <li>
                            @*<a class="active" href="#" data-toggle="tooltip" data-placement="right" title="حسابداری" data-nav-target="#accounting-menu">
                                    <i data-feather="dollar-sign"></i>
                                </a>*@
                        </li>
                        <li>
                            @*<a href="#" data-toggle="tooltip" data-placement="right" title="انبارداری" data-nav-target="#warehouse-menu">
                                    <i data-feather="database"></i>
                                </a>*@
                        </li>
                        <li>
                            @*<a href="#" data-toggle="tooltip" data-placement="right" title="سایت" data-nav-target="#cms-menu">
                                    <i data-feather="anchor"></i>
                                </a>*@
                        </li>
                        <li>
                            @*<a href="#" data-toggle="tooltip" data-placement="right" title="فروشگاه" data-nav-target="#shop-menu">
                                    <i data-feather="book"></i>
                                </a>*@
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="right" title="دانلود نمونه فایل" id="downloadLink">
                                <i class="fa fa-download" aria-hidden="true" style="font-size: 25px;"></i>


                            </a>
                        </li>
                        <li>
                            <a href="/" data-toggle="tooltip" data-placement="right" title="رفتن به فروشگاه">
                                <i data-feather="settings"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="right" title="مدیریت انبارداری">
                                <i id="WarehousingAdmin" class="fa fa-user-secret" aria-hidden="true" style="font-size: 33px;"></i>

                            </a>
                        </li>
                        <li>
                            <a href="/Account/LogOut" data-toggle="tooltip" data-placement="right" title="خروج">
                                <i data-feather="log-out"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="navigation-menu-body">
                <div>
                    <div id="navigation-logo">
                        <a href="#">
                            <img class="logo" src="/bordash/assets/media/image/logo-F.png" alt="logo">
                            <img class="logo-light" src="/bordash/assets/media/image/logo-light.png" alt="light logo">
                        </a>
                    </div>
                </div>
                <div class="navigation-menu-group">
                    <div class="open" id="accounting-menu">
                        <ul class="open">
                            @*<li class="navigation-divider">مدیریت</li>*@
                            <li><a class="active" href="/dashboard">داشبورد<span class="badge badge-danger"></span></a></li>
                            <li><a class="active" asp-action="index" asp-controller="products">محصولات انبار<span class="badge badge-danger"></span></a></li>
                            <li><a class="active" href="/productcategories">دسته بندی ها<span class="badge badge-danger"></span></a></li>
                            <li><a class="active" href="/baner">مدیریت بنر<span class="badge badge-danger"></span></a></li>
                            <li><a class="active" href="/shopProducts">محصولات فروشگاه<span class="badge badge-danger"></span></a></li>
                            <li><a class="active" href="/comments">مدیریت نظرات<span class="badge badge-danger"></span></a></li>
                            <li><a class="active" href="/Account/UserManager"> مدیریت کاربران<span class="badge badge-danger"></span></a></li>
                            <li><a class="active" href="/Payment/Index"> مدیریت مالی<span class="badge badge-danger"></span></a></li>

                            <li><a class="active" href="/contactUsmanager">مدیریت تماس با ما<span class="badge badge-danger"></span></a></li>
                            <li><a class="active" href="/blogs">مدیریت اخبار<span class="badge badge-danger"></span></a></li>
                            <li><a class="active" href="/Tickets/Index">مدیریت پیام ها<span class="badge badge-danger"></span></a></li>
                            <li><a class="active" href="/Settings"> تنظیمات<span class="badge badge-danger"></span></a></li>


                        </ul>
                    </div>


                    <div class="open d-none" id="reporting">
                        <ul class="open">
                            <li><a class="active" href="/Customers">لیست مشتریان<span class="badge badge-danger"></span></a></li>
                            <li><a class="active" href="/CustomerPurchaseReport">گزارش خرید مشتری<span class="badge badge-danger"></span></a></li>
                            <li><a class="active" href="/CustomersWhitProductReport">مشتری-کالا<span class="badge badge-danger"></span></a></li>
                            <li><a class="active" href="/CustomersPurchaseReport"> گزارش خرید مشتریان<span class="badge badge-danger"></span></a></li>
                            <li><a class="active" href="/ProductWithCustomer">کالا-مشتری<span class="badge badge-danger"></span></a></li>


                        </ul>
                    </div>



                    <div id="warehouse-menu">
                        <ul>
                            <li class="navigation-divider">انبارداری</li>
                            <li><a asp-action="index" asp-controller="home">انبار<span class="badge badge-danger">2</span></a></li>
                        </ul>
                    </div>
                    <div id="cms-menu">
                        <ul>
                            <li class="navigation-divider">سایت</li>
                        </ul>
                    </div>
                    <div id="shop-menu">
                        <ul>
                            <li class="navigation-divider">فروشگاه</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <main class="main-content">
            <div class="page-header">
                <div class="container-fluid d-sm-flex justify-content-between">
                    <h4>@ViewBag.Title</h4>
                </div>
            </div>
            @RenderBody()

            <footer>
                <div class="container-fluid">
                    <div>© 1399 | مدیریت حسابداری و انبار | ارایه از  <a target="_blank" href="//niknet.co">Niknetco</a></div>

                </div>
            </footer>
        </main>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="changeUserAdmin">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> تغییر ادمین انبار دار</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" id="changeStatusClose">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="changeUserAdminForm">


                        <div class="form-group ">
                            <label for="PhoneNumberAdmin"> شماره تلفن ادمین:</label>
                            <input class="form-control" type="text" maxlength="11" id="PhoneNumberAdmin" />
                        </div>

                        <button type="submit" id="changeUserAdminBtn" class="btn btn-block btn-light-success">ثبت</button>
                    </form>

                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="changeUserAdmin">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"> تغییر ادمین انبار دار</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" id="changeStatusClose">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="changeUserAdminForm">


                            <div class="form-group ">
                                <label for="PhoneNumberAdmin"> شماره تلفن ادمین:</label>
                                <input class="form-control" type="text" maxlength="11" id="PhoneNumberAdmin" />
                            </div>

                            <button type="submit" id="changeUserAdminBtn" class="btn btn-block btn-light-success">ثبت</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="downloadFile">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">دانلود نمونه فایل</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" id="changeStatusClose">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label class="col-5 m-1">فایل اکسل اضافه کردن محصول</label>
                        <button type="submit" id="downloadInsertProductExel" class="col-5 m-1 btn btn-block btn-light-success">دانلود</button>

                    </div>

                    <div class="row">
                        <label class="col-5 m-1">فایل اکسل آپدیت کردن محصول</label>
                        <button type="submit" id="downloadUpdateProductExel" class="col-5 m-1 btn btn-block btn-light-success">دانلود</button>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="/bordash/vendors/bundle.js"></script>
    @RenderSection("vendors", false)
    <script src="/bordash/assets/js/custom.js"></script>
    <script src="/bordash/assets/js/app.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/persian-date@latest/dist/persian-date.min.js"></script>
    <script src="https://unpkg.com/persian-datepicker@latest/dist/js/persian-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script>
        $("#reportTab").click(function () { $("#reporting").removeClass("d-none"); $("#accounting-menu").addClass("d-none") })
        $("#dashboardTab").click(function () { $("#reporting").addClass("d-none"); $("#accounting-menu").removeClass("d-none") })

        var uploadFileExtentions = ["JPEG", "PNG", "GIF", "PDF", "DOC", "DOCM", "DOCX", "DOT", "TXT", "JPG"];
        $(document).ready(function () {

            var url = window.location.href;
            var finalUrl = "";
            if (url.includes("localhost")) {
                finalUrl = url.replace("https://localhost:44367", "");
            }
            if (url.includes("isacoplus")) {
                finalUrl = url.replace("https://isacoplus.com", "");
            }
            $("#accounting-menu > .open >li").each(function () {

                var a = $(this).children();
                var href = $(a).attr("href");

                $(a).removeClass("active");

                if (href.toLowerCase() == finalUrl.toLowerCase() || href.toLowerCase() == finalUrl.toLowerCase()) {
                    $(a).addClass("active");
                    $("#reporting").addClass("d-none"); $("#accounting-menu").removeClass("d-none")
                }
            });
            $("#reporting > .open >li").each(function () {

                var a = $(this).children();
                var href = $(a).attr("href");

                $(a).removeClass("active");

                if (href.toLowerCase() == finalUrl.toLowerCase() || href.toLowerCase() == finalUrl.toLowerCase()) {
                    $(a).addClass("active");
                    $("#reporting").removeClass("d-none"); $("#accounting-menu").addClass("d-none")
                }
            });
        })



        function GetTypeOfCooperation(id) {
            switch (id) {
                case 1:
                    return "تمام وقت";
                    break;
                case 2:
                    return "پارت تایم";
                    break;
                case 3:
                    return "کارآموزی";
                    break;
                case 4:
                    return "دورکاری";
                    break;
                default:
                    return "نامشخص";
                    break;
            }
        }


        function GetSalary(id) {
            switch (id) {
                case 1:
                    return "کمتر از 1 میلیون";
                    break;
                case 2:
                    return "بین 1 تا 2.5 میلیون";
                    break;
                case 3:
                    return "بین 2.5 تا 3.5 میلیون";
                    break;
                case 4:
                    return "بین 3.5 تا 5 میلیون";
                    break;
                case 5:
                    return "بین 5 تا 8 میلیون";
                    break;
                case 6:
                    return "بیشتر از 8 میلیون";
                    break;
                default:
                    return "نامشخص";
                    break;
            }
        }



        function GetDegreeOfEducation(id) {
            switch (id) {
                case 1:
                    return "مهم نیست";
                    break;
                case 2:
                    return "دیپلم";
                    break;
                case 3:
                    return "کاردانی";
                    break;
                case 4:
                    return "کارشناسی";
                    break;
                case 4:
                    return "کارشناسی ارشد";
                    break;
                case 5:
                    return "دکترا"
                    break;
                default:
                    return "";
                    break;
            }
        }

        function GetWorkExperience(id) {
            switch (id) {
                case 1:
                    return "مهم نیست";
                    break;
                case 2:
                    return "کمتر از 3 سال";
                    break;
                case 3:
                    return "بین 3 تا 7 سال";
                    break;
                case 4:
                    return "بیشتر از 7 سال";
                    break;
                default:
                    return "";
                    break;
            }
        }

        function GetGender(id) {
            switch (id) {
                case 1:
                    return "مهم نیست";
                    break;
                case 2:
                    return " مرد";
                    break;
                case 3:
                    return "زن";
                    break;
                case 4:
                    return "سایر";
                    break;
                default:
                    return "";
                    break;
            }
        }
        function GetTicketPriorityStatus(id) {
            switch (id) {
                case 1:
                    return "فوری";
                    break;
                case 2:
                    return " معمولی";
                    break;
                case 3:
                    return "جهت اطلاع";
                    break;
                default:
                    return "";
                    break;
            }
        }
        function GetAdverCreatationStatus(id) {
            switch (id) {
                case 1:
                    return "در حال بررسی";
                    break;
                case 2:
                    return "رد شده";
                    break;

                case 3:
                    return "پذیرفته شده";
                    break;
                case 4:
                    return "برگشت خورده";
                    break;
                default:
                    return "";
                    break;
            }
        }
        function GetAdverStatus(id) {
            switch (id) {
                case 1:
                    return "فعال";
                    break;
                case 2:
                    return "پیش نویس";
                    break;
                case 3:
                    return "آرشیو";
                    break;
                case 4:
                    return "پایان یافته";
                    break;
                case 5:
                    return "غیرفعال";
                    break;
                case 6:
                    return "منقضی شده";
                    break;
                default:
                    return "";
                    break;
            }
        }
        $("#WarehousingAdmin").click(function () {
            $("#changeUserAdmin").modal("toggle");
            $.ajax({
                method: "Get",
                url: '/GetWarehousingAdmin',
                data: {},
                contentType: 'Application/Json',
                success: function (data) {
                    if (data.status == 0) {
                        toastr.error(data.message);
                    }
                    else {
                        //toastr.success(data.message);
                        $("#PhoneNumberAdmin").val(data.data);



                    }
                },
                error: function (data) {

                    if (data.responseJSON == undefined) {
                        toastr.error("مشکلی رخ داده است");
                        return;

                    }
                    var errors = data.responseJSON.message;
                    errors.forEach(elem => {
                        if (elem == "Unauthorized") { elem = "کابر نامعتبر لطفا لاگین کنید" }
                        if (elem == "Forbidden") { elem = "عدم دسترسی " }
                        toastr.error(elem);

                    })
                }
            });
        })
        $("#changeUserAdminBtn").click(function (e) {
            e.preventDefault();
            var phoneNumber = $("#PhoneNumberAdmin").val();

            $.ajax({
                method: "Post",
                url: '/ChangeWarehousingAdmin?phoneNumber=' + phoneNumber,
                data: {},
                contentType: 'Application/Json',
                success: function (data) {
                    if (data.status == 0) {
                        toastr.error(data.message);
                    }
                    else {
                        toastr.success(data.message);
                        $("#changeUserAdmin").modal("toggle");

                    }
                },
                error: function (data) {

                    if (data.responseJSON == undefined) {
                        toastr.error("مشکلی رخ داده است");
                        return;

                    }
                    var errors = data.responseJSON.message;
                    errors.forEach(elem => {
                        if (elem == "Unauthorized") { elem = "کابر نامعتبر لطفا لاگین کنید" }
                        if (elem == "Forbidden") { elem = "عدم دسترسی " }
                        toastr.error(elem);

                    })
                }
            });

        })

        $("#downloadLink").click(function () {

            $("#downloadFile").modal("toggle");
        })

        $("#downloadUpdateProductExel").click(function (e) {
            e.preventDefault();
            location.href = "/updateExel.xlsx";
        })


        $("#downloadInsertProductExel").click(function (e) {
            e.preventDefault();
            location.href = "/document.xlsx";
        })
    </script>
    @RenderSection("scripts", false)
</body>
</html>