@model ICollection<GetAllTicketForCurrectUser>
@{
    ViewBag.Title = "پشتیبانی";
    Layout = "_SiteLayout";


}
@section Styles{
    <style>
        .navbar {
            background: blue !important;
        }
    </style>

}


@section Scripts{

    <script>
        function NewTicket() {
            $("#CreateTicket").modal("toggle");
        }
        $("#createTicketForm").submit(function (e) {

            e.preventDefault();


            var formData = new FormData(this);
            formData.append("UserId",'@ViewBag.UserId')
            $.ajax({
                type: "POST",
                url:"/tickets/CreateTicket",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.status == '1') {
                        toastr.success("با موفقیت ثبت شد");
                        location.reload();
                    } else {
                        toastr.error(data.message);
                    }
                },
                error: function (data) {
                    toastr.warning("خطا در ثبت اطلاعات");
                    console.log(data);
                }
            });




        })

        function showTicket(id) {
            $("#ShowTicket").modal("toggle");

            $.ajax({
                type: "Get",
                url: "/tickets/GetTicketInfo?id=" + id,
                data: {},
                contentType: 'application/json',
                success: function (data) {
                    if (data.status == '1') {
                        var htmlData = `
            <div class="modal-body" style="padding:0 !important">

                <section class="ticket-detail container-fluid " style="padding:0 !important">
                    <div class="">
                        <aside class="">
                            <div class="bs-shadow srounded-md bg-white rounded p-3" style="box-shadow:0 0 10px 1px rgba(0,0,0,0.1)">
                                <header class="header d-flex flex-column flex-lg-row justify-content-between align-items-center">
                                    <h2 class="fs-m c-dark ir-b text-center text-lg-right w-50 text-truncate mb-2 mb-lg-0">
${data.data.subject}</h2>
                                    <div>
                                        <button class="btn btn-success ml-2 downloadLink"
      <a id="aLink" href="/uploads/Ticket/${data.data.senderFile}" download> دانلود فایل<a/>
                                        </button>
                                        <a class="ir-r fs-s btn bg-white shadow-none border"
                                           href="#" data-dismiss="modal" aria-label="Close">
                                            بازگشت
                                        </a>
                                    </div>
                                </header>

                                <hr class="my-2" />

                                <div class="first-content">
                                    <span class="d-block text-right ir-b fs-s smb-1 c-regular">
                                        ${data.data.content}
                                    </span>

                                    <span class="d-block text-right ir-r fs-s mb-0 c-light">
                              ${data.data.createDate}
                                    </span>
                                </div>


                                <div>
                                    <hr class="my-2" />

                                    <span class="d-block text-right ir-b fs-s smb-1 c-regular">
                                    نام دریافت کننده:  ${data.data.receiverFullName}
                                    </span>

                                    <form>
                                        <textarea class="form-control ir-r fs-s mt-0 smb-2 rounded-sm shadow-none p-1"
                                                  id="message"
                                                  placeholder="پیام شما..."
                                                  rows="4"></textarea>

                                        <input class="d-none"
                                               id="file"
                                               type="file"
                                               accept="image/jpeg,image/gif,image/png,application/pdf,.doc,.docx"
                                               onChange={this.fileHandler} />

                                        <div class="d-flex justify-content-start align-items-center mb-2">
                                            <label htmlFor="file"
                                                   class="ir-r btn btn-light fs-s shadow-none border p-1">
                                            نام فرستنده:     ${data.data.senderFullName}
                                            </label>
                                        </div  >
                                          <button id=answerBtn type="submit" class="ir-r btn btn-primary" onclick=answer( ${data.data.senderFullName} )>
                                            ثبت
                                        </button>

                                    </form>
                                </div>
                            </div>
                        </aside>
                    </div>
                </section>



            </div>

`;

                        $("#modal-content").html(htmlData);

                         if (data.data.senderId == '@ViewBag.UserId' || data.data.hasAnswer) {
                            $("#answerBtn").remove();
                        }


                        if (data.data.senderId== '@ViewBag.UserId') {
                            $('.rounded-sm').prop('readonly', true);

                        }

                         if (data.data.hasAnswer) {
                             $('.rounded-sm').prop('readonly', true);
                        }

                        //if (data.data.receiverFile == null || data.data.receiverFile == "") {
                        //    $(".downloadLink").remove();
                        //}

                    } else {
                        toastr.error(data.message);
                    }
                },
                error: function (data) {
                    toastr.warning("خطا در ثبت اطلاعات");
                }
            });


        }
        $(".downloadLink").on("click", function () {

        })
    </script>
}
@Html.Partial("Header")

<section class="tickets container-fluid px-2 my-5 mx-2">
    <div class="row">
        <aside class="col-12">
            <div class="bg-white bs-shadow srounded-md p-2">
                <header class="header d-lg-flex w-100 justify-content-lg-between align-items-lg-center">
                    <h2 class="ir-b fs-s c-dark text-right smb-2 mb-lg-0">
                        تیکت های پشتیبانی
                    </h2>

                    <div>
                        <a class="d-block d-lg-inline-block shadow-none ir-r fs-s c-regular btn border srounded-sm smb-2 mb-lg-0"
                           href="tel:01133333333">
                            تماس تلفنی
                        </a>

                        <a onclick="NewTicket()" class="d-block c-white text-white d-lg-inline-block shadow-none ir-r fs-s btn btn-primary srounded-sm mb-0 mr-0 mr-lg-2"
                           to="/Employee/createTicket">
                            تیکت جدید
                            <i class="fa fa-plus smr-1"></i>
                        </a>
                    </div>
                </header>

                <hr class="smy-2" />

                <!--this-->

                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th class="ir-b c-regular fs-s border-top-0"
                                    scope="col">
                                    #
                                </th>
                                <th class="ir-b c-regular fs-s border-top-0"
                                    scope="col">
                                    عنوان تیکت
                                </th>
                                <th class="ir-b c-regular fs-s border-top-0"
                                    scope="col">
                                    اولویت
                                </th>
                                <th class="ir-b c-regular fs-s border-top-0"
                                    scope="col">
                                    تاریخ ارسال
                                </th>
                                <th class="ir-b c-regular fs-s border-top-0"
                                    scope="col">
                                    عملیات
                                </th>
                            </tr>
                        </thead>

                        @if (Model.Count > 0 && Model != null)
                        {
                            foreach (var item in Model)
                            {





                                <tbody>

                                    <tr>
                                        <td class="ir-r c-regular fs-s">@item.Id</td>
                                        <td>
                                            <span class="ir-r c-regular fs-s w-100 text-truncate">
                                                @item.Subject
                                            </span>
                                        </td>
                                        <td>
                                            <span class="ir-r fs-s bg-primary-light c-primary py-1 px-2 srounded-sm">
                                                @item.TicketPriorityStatus.GetDisplayAttributeFrom()
                                            </span>
                                        </td>
                                        <td class="ir-r c-regular fs-s">
                                            @item.Content
                                        </td>
                                        <td class="ir-r c-regular fs-s">
                                            <a class="ir-r c-regular fs-s btn btn-light shadow-none sml-1">
                                                @if (item.SenderId == ViewBag.UserId)
                                                {
                                                    <span onclick="showTicket('@item.Id')">مشاهده</span>
                                                }
                                                else
                                                {
                                                    <span onclick="showTicket('@item.Id')">پاسخ</span>

                                                }
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>



                            }
                        }
                    </table>
                </div>

            </div>
        </aside>
    </div>
</section>



<div class="modal  fade" id="CreateTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">


        <div class="modal-content"  style="width: 550px !important; margin: 50px auto;">

            <div class="modal-body" style="padding:0 !important">

                <section class="ticket-detail container-fluid " style="padding:0 !important">
                    <div class="">
                        <aside class="">
                            <div class="bs-shadow srounded-md bg-white rounded p-3" style="box-shadow:0 0 10px 1px rgba(0,0,0,0.1)">
                                <header class="header d-flex flex-column flex-lg-row justify-content-between align-items-center">
                                    <h2 class="fs-m c-dark ir-b text-center text-lg-right w-50 text-truncate smb-2 mb-lg-0">
                                        ثبت تیکت جدید
                                    </h2>

                                    <a class="ir-r fs-s btn bg-white shadow-none border close"
                                       href="#" data-dismiss="modal" aria-label="Close">
                                        بازگشت
                                    </a>
                                </header>

                                <hr class="smy-2" />

                                <form id="createTicketForm">
                                    @*<form onSubmit={this.submitTicketAnswer}>*@
                                    <input class="form-control ir-r fs-s mt-0 mb-2 srounded-sm shadow-none sp-1"
                                           id="subject"
                                           placeholder="موضوع پیام"
                                           rows="4"
                                           name="subject" />

                                    <select class="form-control ir-r fs-s mt-0 mb-2 srounded-sm shadow-none"
                                            id="TicketPriorityStatus"
                                            name="TicketPriorityStatus"
                                            placeholder="اولویت"
                                            rows="4">
                                        <option value="1">فوری</option>
                                        <option value="2">جهت اطلاع</option>
                                        <option value="3">عادی</option>
                                    </select>

                                    <textarea class="form-control ir-r fs-s mt-0 mb-2 srounded-sm shadow-none sp-1"
                                              id="content"
                                              name="content"
                                              placeholder="پیام شما..."
                                              rows="4"></textarea>

                                    <div class="d-flex justify-content-start align-items-center mb-2">
                                        <input class="d-none"
                                               id="file"
                                               type="file"
                                               name="file"
                                               accept="image/jpeg,image/gif,image/png,application/pdf,.doc,.docx" />


                                        <label for="file"
                                               class="ir-r btn btn-light fs-s shadow-none border sp-1">
                                            آپلود فایل
                                        </label>
                                    </div>

                                    <button type="submit" class="ir-r btn btn-primary">
                                        ثبت
                                    </button>
                                </form>
                            </div>
                        </aside>
                    </div>
                </section>



            </div>

        </div>

      </div>
</div>


<div class="modal  fade" id="ShowTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">


        <div class="modal-content" id="modal-content" style="width: 550px !important; margin: 50px auto;">
           

        </div>
    </div>
</div>











