@model IEnumerable<KaraYadak.Models.ProductCategory>

@{
    ViewBag.Title = "دسته بندی های محصولات";
    Layout = "_layout";

}
@section vendorstyles{
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/datatables.min.css" />
}
@section styles{
    <link rel="stylesheet" type="text/css" href="/app-assets/css-rtl/core/colors/palette-gradient.css" />
}
@section vendors{
    <script src="/app-assets/vendors/js/extensions/sweetalert2.all.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/pdfmake.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/vfs_fonts.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/buttons.html5.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/buttons.print.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
}
@section scripts{
    
<script>
    $(".close").click(function () {
          $("#edit").addClass("d-none");
        $("#save").removeClass("d-none");

        $(".modal-title").html("ثبت جدید");

        $("#Name").val("");
        $("#id").val("");
        $("#Parent").val("");
        $("#ProductCategoryType").val("");

    })

        $('#edit').click(function (e) {


            e.preventDefault();
            var url = '@Url.Action("Edit", "productcategories")';
            var Upload = $("#image").get(0);
            var files = Upload.files;
            var formData = new FormData();
            var pId = $("#Parent option:selected").val();
            var tId = $("#ProductCategoryType option:selected").val();
            formData.append("name", $("#Name").val());
            formData.append("Parent", pId);
            formData.append("Id", $("#id").val());
            formData.append("ProductCategoryType", tId);
            formData.append("image", files[0]);
            $.ajax({
                type: "POST",
                url: url,
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                dataType: 'json',
                success: function (data) {
                    $('#createModal').modal('toggle');
                    oTable.draw();
                    location.reload();
                }
            });
            $(this).trigger('reset');
        });

        $(document).ready(function () {
            $('#create').submit(function (e) {
                e.preventDefault();
                var form = $(this);
                var url = form.attr('action');
                var Upload = $("#image").get(0);
                var files = Upload.files;
                var formData = new FormData();
                var pId = $("#Parent option:selected").val();
                var tId = $("#ProductCategoryType option:selected").val();
                console.log(pId);
                console.log(tId);
                formData.append("name", $("#Name").val());
                formData.append("Parent", pId);
                formData.append("ProductCategoryType", tId);
                formData.append("image", files[0]);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        $('#createModal').modal('toggle');
                        oTable.draw();
                    }
                });
                $(this).trigger('reset');
            });
        });
        function DeleteItem(id){
            Swal.fire({
                title: '',
                text: "آیا مطمئن به حذف هستید؟",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'بله',
                cancelButtonText: 'خیر',
                confirmButtonClass: 'btn btn-primary',
                cancelButtonClass: 'btn btn-danger ml-1',
                buttonsStyling: false,
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("delete","productcategories")',
                        data: "id=" + id,
                        success: function (data) {
                            var td = $(`td:contains(${id})`);
                            var tr = $(td).parent();
                            tr.remove();
                        }
                    });

                    Swal.fire({
                        type: "success",
                        title: '',
                        text: 'با موفقیت حذف شد',
                        confirmButtonClass: 'btn btn-success',
                        confirmButtonText: 'باشه',
                    });
                }
            });
        }
         function EditItem(id){
            $.ajax({
                        type: "GET",
                        url: '@Url.Action("GetGetCategory", "productcategories")',
                        data: "id=" + id,
                success: function (data) {
                    if (data.status == 0) {
                        toastr.error(data.message);
                    }
                    else {
                        $("#save").addClass("d-none");
                        $("#edit").removeClass("d-none");

                        $("#createModal").modal("toggle");
                        $(".modal-title").html("ویرایش " + data.model.name);

                        $("#Name").val(data.model.name);
                        $("#id").val(data.model.id);
                        $("#Parent").val(data.model.parent);
                        $("#ProductCategoryType").val(data.model.productCategoryType);
                    }
                        }
                    });
        }
        var oTable = $('.zero-configuration').DataTable({
            processing: true,
            ordering:false,
            //serverSide: true,
            language: {
                url: "/app-assets/vendors/js/tables/datatable/Persian.json"
            },
            ajax: {
                url: '@Url.Action("index","productcategories")',
                type: "POST",
                dataType: "json",
                delay: 1000,
                data: function (d) {
                    //d._token = $('meta[name="csrf-token"]').attr('content');
                    //d.created_start = $('input[name=created_start]').val();
                }
            },
            columns: [
                 {
                    data: 'id',
                    name: 'id'
                },
                {
                    data: 'name',
                    name: 'name'
                },
                {
                    data: 'parentString',
                    name: 'parentString'
                },
                {
                    data: 'productCategoryTypeString',
                    name: 'productCategoryTypeString'
                },
                {
                    data: 'updatedAt',
                    name: 'updatedAt'
                },
                {
                    data: 'id',
                    name: 'id'
                },
            ],
            columnDefs: [
                {
                    targets: -1,
                    render: function (data, type, row) {
                        return '<div><button type="button" onclick="DeleteItem(' + data + ')" class="btn btn-icon btn-sm btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button><button type="button" onclick="EditItem(' + data + ')" class="btn btn-icon btn-sm btn-warning m-1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></div>';
                    }
                },
            ],
        });
    </script>
}
@*@await Component.InvokeAsync(nameof(KaraYadak.Components.PageHeaderComponent), new { Page = ViewBag.Title, Parent = "", ParentUrl = "" })*@

<div class="content-body">
    <section id="basic-datatable">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">@ViewBag.Title</h4>

                        <button class="btn btn-success" type="button" data-toggle="modal" data-backdrop="false" data-target="#createModal"><i class="feather icon-plus"></i>ثبت جدید </button>
                        @*<a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-toggle="modal" data-backdrop="false" data-target="#backdrop"><i class="feather icon-plus"></i></a></li>
                                </ul>
                            </div>*@
                        <!-- Modal -->
                        <div class="modal fade text-left" id="createModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">ثبت جدید</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form  id="create"asp-action="create" asp-controller="productcategories" method="post">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <input type="text" placeholder="نام" name="Name" id="Name" class="form-control">
                                                <input type="hidden" name="id" id="id" />
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <select placeholder="دسته بندی پدر" name="Parent" id="Parent" class="form-control">
                                                    <option value="0">بدون دسته بندی پدر</option>
                                                    @foreach (var item in (List<KaraYadak.Models.ProductCategory>)ViewBag.ProductCategoryParents)
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <select placeholder="نوع دسته بندی" name="ProductCategoryType" id="ProductCategoryType" class="form-control">
                                                    @foreach (var item in (List<KaraYadak.Models.ProductCategoryType>)ViewBag.ProductCategoryTypes)
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <input type="file" name="Image" id="image" class="form-control">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" id="save" class="btn btn-primary">ثبت</button>
                                            <button type="button" id="edit" class="btn btn-primary d-none">ثبت</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">
                                <table class="table zero-configuration">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>نام</th>
                                            <th>پدر</th>
                                            <th>نوع</th>
                                            <th>تاریخ تغییر</th>
                                            <th>عملیات</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>