
@model IEnumerable<KaraYadak.Models.QRCode>

@{
    ViewBag.Title = "لیست Qrکدها";
    Layout = "_AdminPanel";
}
@section vendorstyles{
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/datatables.min.css" />
}
@section styles{
    <link rel="stylesheet" type="text/css" href="/app-assets/css-rtl/core/colors/palette-gradient.css" />
    <link rel="stylesheet" type="text/css" href="/app-assets/css-rtl/pages/data-list-view.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
}
@section vendors{
    <script src="/app-assets/vendors/js/extensions/sweetalert2.all.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/pdfmake.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/vfs_fonts.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/buttons.html5.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/buttons.print.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
}
@section scripts{
    <script>
        function dwonload(id) {
            $.ajax({
                type: "POST",
                url: "/Products/RemoveQr",
                data: { id: id },
                success: function (data) {
                    $("#download" + id).parents("tr").remove();
                }
            });
        }
        $(document).ready(function () {
            $(".hide-data-sidebar, .cancel-data-btn, .overlay-bg").on("click", function () {
                CloseSidebar();
            });
            $('form').submit(function (e) {
                e.preventDefault();
                var form = $(this);
                var url = form.attr('action');
                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(),
                    success: function (data) {
                        $('.modal').modal('hide');
                        oTable.draw();
                    }
                });
                CloseSidebar();
                $(this).trigger('reset');
            });
        });
        function CloseSidebar() {
            $(".add-new-data").removeClass("show")
            $(".overlay-bg").removeClass("show")
        }

    </script>
}
@await Component.InvokeAsync(nameof(KaraYadak.Components.PageHeaderComponent), new { Page = ViewBag.Title, Parent = "", ParentUrl = "" })

<div class="content-body">
    <section id="basic-datatable" class="data-list-view-header">
        <div class="row w-100 p-0 m-0 mx-auto">
            <div class="card-content mx-auto">
                <div class="card-body card-dashboard">
                    <div class="table-responsive ">
                        <table class="table table-bordered mx-auto">
                            <thead>
                                <tr>
                                    <th style="text-align:center">#</th>
                                    <th style="text-align:center">QRCode</th>
                                    <th style="text-align:center">دانلود</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int counter = 0;}
                                @foreach (var item in Model)
                                {
                                    var downloadId = "download" + item.Id.ToString();
                                    counter++;
                                    <tr>
                                        
                                        <td style="text-align:center">@counter</td>
                                        <td style="text-align:center">
                                          <img src="@String.Format("data:image/png;base64,{0}", item.QR)" style="width: 40%;"  />
                                        </td>
                                        <td  style="text-align:center"> <a id="@downloadId"  onclick="dwonload(@item.Id)" download href="@String.Format("data:image/png;base64,{0}", item.QR)"><i class="fa fa-download" aria-hidden="true" style="font-size:40px"></i></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>